.article-list {
  list-style: none;
  padding: 20px;
  margin: 20px;
  background-color: #000285;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.article-title {
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.comments-list {
  list-style: none;
  padding-left: 0%;
}

.article-date {
  padding: 8px 12px;
  border-radius: 8px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.article-body {
  padding: 8px 12px;
  border-radius: 8px;
  margin: 0 5px;
  background-color: rgba(252, 252, 252, 0.2);
  color: white;
}

.article-votes {
  padding: 8px 12px;
  border-radius: 8px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.article-list li {
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  background-color: rgba(0, 2, 85, 0.1);
  transition: background-color 0.3s;
}

.article-list li:hover {
  background-color: rgba(101, 104, 240, 0.3);
}

.article-topic {
  color: #ddd;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.9em;
  display: flexbox;
}

.article-author {
  color: #000285;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  font-size: 2em;
  display: flexbox;
}

.loader {
  border: 6px solid #000285; 
  border-top: 6px solid #ffffff; 
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}
.comment-form {
  align-items: center;
  justify-content: center;
  text-align: center;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}